.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #f4f4f4;
    padding: 16px;
    border-radius: 18px 18px 0 0;
    box-sizing: border-box;
}
