.infoBlock {
    width: 100%;
    /* background: #ffffff; */
    border-radius: 16px;
    /* padding: 20px; */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
    font-family: "Inter", sans-serif;
    color: #333;
    box-sizing: border-box;
    margin-top: 24px;
    text-align: left;
    margin-bottom: 36px;

    @media (max-width: 768px) {
        /* padding: 16px; */
    }
}

.title {
    font-weight: 600;
    font-size: 16px;
    color: #6899fd;
    margin-bottom: 8px;
}

.text {
    font-size: 14px;
    line-height: 1.6;
    color: #6e6e6e;
    margin-bottom: 12px;
}

.emergency {
    border-radius: 10px;
    color: #6e6e6e;
    font-weight: 600;
    font-weight: bold;
    font-size: 14px;
}
