.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.card {
    width: 100%;
    border-radius: 16px;
    background-color: transparent;
    border: none;
    :global(.ant-card-body) {
        padding: 0;
    }
    //  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.balanceBox {
    background-color: #86a4ff;
    color: white;
    border-radius: 10px;
    padding: 1rem 1.2rem;
    margin-bottom: 1.5rem;
}

.balanceText {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balanceAmount {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.topUp {
    color: white !important;
    text-decoration: underline;

    opacity: 0.9;
}

.field {
    margin-bottom: 1.2rem;

    .label {
        display: block;
        margin-bottom: 0.4rem;
        color: #494949;
        font-weight: 500;
    }

    :global(.ant-input) {
        color: #5d5c5c;
        border-radius: 8px;
        background-color: #f6f8ff;
    }

    :global(.ant-select) {
        width: 100%;
    }

    :global(.ant-select-selector) {
        border-radius: 8px !important;
        background-color: #f6f8ff !important;
        border: 1px solid #e0e6f6 !important;
        height: 40px !important;

        &:hover {
            border-color: #8eb4ff !important;
        }
    }

    :global(.ant-select-focused .ant-select-selector) {
        border-color: #8eb4ff !important;
        box-shadow: 0 0 0 3px rgba(141, 181, 255, 0.3) !important;
    }

    :global(.ant-select-selection-item) {
        color: #5d5c5c !important;
        line-height: 38px !important;
    }
}

.saveBtn {
    border-radius: 8px;
    margin-top: 1rem;
    height: 40px;
    font-weight: 500;
    background: linear-gradient(90deg, #6c8bff, #709bff);
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;

    :global(.ant-btn-link) {
        padding: 0;
        color: #7a8cff;
        font-size: 13px;
    }
}

.backButton {
    color: #bcbcbc;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    height: 30px;
    border-radius: 50%;

    &:hover {
        color: #4d7bfb;
        transform: translateY(-1px);
        box-shadow: 0 4px 12px rgba(77, 123, 251, 0.3);
    }

    &:active {
        transform: translateY(0);
    }
}

.logoutButton {
    border-radius: 8px;
    height: 44px;
    font-weight: 500;
    margin-top: 8px;
    border-color: #ff4d4f;
    color: #ff4d4f;

    &:hover {
        border-color: #ff7875;
        color: #ff7875;
        background-color: #fff1f0;
    }

    &:active {
        border-color: #cf1322;
        color: #cf1322;
    }
}
