.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
    height: 100vh;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #999;
    margin-bottom: 8px;
}

.search {
    width: 100%;
    margin-bottom: 16px;

    :global(.ant-input-affix-wrapper) {
        border: 2px solid #c5cdea !important;
        border-radius: 12px !important;
        background: #ffffff !important;
        height: 40px;
        padding: 0 10px;
        box-shadow: none !important;
        transition: border-color 0.3s ease;

        &:hover,
        &:focus-within {
            border-color: #aab6ec !important;
        }

        input {
            font-size: 14px;
            color: #4a4a4a;
            &::placeholder {
                color: #b5b9d2;
            }
        }
    }

    :global(.ant-input-search-button) {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }

    :global(.anticon-search) {
        color: #b5b9d2 !important;
        font-size: 16px;
    }

    :global(.ant-input-clear-icon) {
        color: #c5cdea !important;
    }
}

.list {
    // background: white;
    border-radius: 12px;
    overflow: auto;
    height: 100%;
    margin-bottom: 80px;
}
.activeItem {
    background: #86a4ff !important;
    span {
        color: #ffffff !important;
    }

    .arrow {
        color: #ffffff !important;
    }
}

.doctorList {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 14px 16px;
    background: #eff2fb;
    margin-bottom: 8px;
    border-radius: 10px;
    width: 95%;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        background: #eff1fb;
    }

    span {
        margin-left: 15px;
        font-size: 15px;
        color: #73767e;
    }
    .empty {
        margin-left: 15px;
        font-size: 15px;
        color: #73767e;
        margin-right: 15px;
    }

    .arrow {
        margin-right: 15px;
        color: #8a9eff;
        font-size: 14px;
    }
}

.backButton {
    color: #bcbcbc;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    height: 30px;
    border-radius: 50%;

    &:hover {
        color: #4d7bfb;
        transform: translateY(-1px);
        box-shadow: 0 4px 12px rgba(77, 123, 251, 0.3);
    }

    &:active {
        transform: translateY(0);
    }
}
