.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #f7f8fb;
    height: 100vh;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #999;
    margin-bottom: 8px;
}

.search {
    margin-bottom: 16px;
    border: 3px solid #c5cdea;
    border-radius: 15px;
    :global(.ant-input-affix-wrapper),
    :global(.ant-input),
    :global(.ant-input-group) {
        border-radius: 15px;
        background: #ffffff !important;
        border-radius: 8px !important;
    }

    :global(.ant-input-group-addon) {
        margin-right: 10px;
        background: #ffffff !important;
        border-radius: 0 8px 8px 0;
        border: none !important;
    }

    :global(.ant-input-search-button .anticon),
    :global(.ant-input-group-addon .anticon) {
        color: #c5cdea !important;
    }

    :global(.ant-input-search-button) {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
        font-size: 25px;

        &:hover {
            background: transparent !important;
            color: #aab2e0 !important;
        }
    }
}

.list {
    // background: white;
    border-radius: 12px;
    overflow: auto;
    height: 100%;
    margin-bottom: 80px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 14px 16px;
    background: #eff2fb;
    margin-bottom: 8px;
    border-radius: 10px;
    width: 95%;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background: #eff1fb;
    }

    span {
        margin-left: 15px;
        font-size: 15px;
        color: #73767e;
    }
    .empty {
        margin-left: 15px;
        font-size: 15px;
        color: #73767e;
        margin-right: 15px;
    }

    .arrow {
        margin-right: 15px;
        color: #8a9eff;
        font-size: 14px;
    }
}
