.slider {
    width: 90%;
    max-width: 100vw;
    margin: 0 auto;
}

.title {
    color: #494949;
    margin: 0 auto;
    margin-left: 20px;
}

.card {
    margin-top: 10px;
    position: relative;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background-color: #4e566a;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    inset: 0;
    /*background: rgba(0, 0, 0, 0.4);*/
    color: #fff;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;

    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.cardTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    min-height: 40px;
    line-height: 1.3;
}

.points {
    font-size: 11px;
    line-height: 1.4;
    padding-left: 16px;
    margin: 0;
}

.points li {
    margin-bottom: 6px;
}

:global(.swiper-pagination) {
    position: relative !important;
    margin-top: 16px;
    bottom: 0 !important;
}

:global(.swiper-pagination-bullet) {
    background: transparent;
    border: 1.5px solid #89bdff;
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

:global(.swiper-pagination-bullet-active) {
    background: #89bdff;
    border-color: #89bdff;
    transform: scale(1.2);
}
