.container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.backButton {
    color: #bcbcbc;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: #4d7bfb;
        transform: translateY(-1px);
        box-shadow: 0 4px 12px rgba(77, 123, 251, 0.3);
    }

    &:active {
        transform: translateY(0);
    }
}

.title {
    flex: 1;
    text-align: center;
    margin: 0;
    font-weight: 600;
    color: #333;
}

.content {
    color: #444;
    font-size: 15px;
    line-height: 1.6;
    word-break: break-word;
    max-width: 100%;
    height: 100vh;

    p {
        margin-bottom: 0.8rem;
    }

    ul,
    ol {
        padding-left: 1.2rem;
        margin-bottom: 1rem;
    }

    li {
        margin-bottom: 0.4rem;
    }

    strong {
        color: #222;
    }

    a {
        color: #4d7bfb;
        text-decoration: underline;
        &:hover {
            color: #2b5dfb;
        }
    }
}
