.container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(#f5f5f5);
    color: var(#000);
    position: relative;
}

.content {
    padding-bottom: calc(84px + env(safe-area-inset-bottom));
    height: 100vh;
    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    -webkit-overflow-scrolling: touch;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--tg-theme-secondary-bg-color, #fff);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 1000;
}
