.container {
    min-height: 100vh;
    background-color: var(--tg-theme-bg-color, #f5f5f5);
    color: var(--tg-theme-text-color, #000);
    position: relative;
}

.content {
    padding-bottom: calc(84px + env(safe-area-inset-bottom));
    height: 100vh;
    overflow-y: auto; // Разрешаем прокрутку

    // Скрываем скроллбар для всех браузеров
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari и Opera */
    }

    // Для плавного скролла на iOS
    -webkit-overflow-scrolling: touch;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--tg-theme-secondary-bg-color, #fff);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 1000;
}
