.page {
    background-color: #1b203c;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.logo-container {
    padding: 2px 5px;
    position: relative;
    width: 60vw;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.logo {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
}

.blur-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background:
        radial-gradient(circle at 30% 40%, #3fa9f5 0%, transparent 60%),
        radial-gradient(circle at 70% 30%, #00ffcc 0%, transparent 60%),
        radial-gradient(circle at 50% 80%, #1e1e60 0%, transparent 60%);
    filter: blur(60px);
    background-blend-mode: screen;
    z-index: 1;
}

.text-container {
    margin-top: 20px;
    width: 100%;
    z-index: 1;
    text-align: left;
    flex-shrink: 0;

    h1 {
        margin: 5px 0;
    }
}

.text {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #50d6ba, #7aa3d5);
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.description {
    color: #afb6d0;
    font-size: 1.2rem;
    margin-top: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 10px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background: linear-gradient(to right, #969696, #303030);
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #969696, #303030);
    }
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    align-items: start;
    justify-content: center;
    width: 70%;
    margin-top: 5px;
}
.login,
.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.login {
    position: relative;
    background: transparent;
    color: #fff;
    border: none;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 8px;
        padding: 2px; // толщина границы
        background: linear-gradient(to right, #969696, #303030);
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        z-index: -1;
    }
    &:hover {
        background: rgba(150, 150, 150, 0.08);
    }
}

.register {
    background: linear-gradient(90deg, #4d7bfb 0%, #89bdff 100%);
    color: #fff;
    border: none;
    &:hover {
        opacity: 0.9;
    }
}
.registerGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.link {
    color: #fff;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 6px;
    text-align: center;
    transition: 0.3 ease;
    &:hover {
        text-decoration-color: #fcfcfc;
    }
}
